.card{
    border: none;
    box-shadow: 0px 5px 20px 0px #ecf0f1 !important;
}
.text__title{
    text-transform: uppercase;
}
.padding-article{
    padding: 12px;
}
.box__article{
    cursor: pointer;
    .card-image{
        overflow: hidden;
    }
    .card-highlight{

        &:before{
            content: url(/icons/noi-bat.svg);
            position: absolute;
            height: 25px;
            left: -4px;
            top: 10px;
            width: 65px;
            z-index: 1;
        }
    }
    .card-post{
        border-radius: 20px;
        overflow: hidden;
    }
    .card__article__body{
        color: #2c3e50 !important;
        h5{
            font-size: 16px;
        }
        .card__time{
            font-size: 13px;
            color: #7f8c8d !important;
        }
        .card__title{
            margin-bottom: 0.5rem;
            font-size: 16px !important;
            &:hover{
                color: #2980b9;
            }
        }
        .card__address{
            font-size: 15px !important;
        }
        .card__heart{
            font-size: 30px;
        }

        .card__heart.active{
            color: #e74c3c;
        }
    }
    .card-img-top{
        position: relative;
        height: 200px;
        object-fit: cover;
        transition: 0.7s;
        width: 100%;
        display: block;
    }
    .card-img-post{
        height: 270px;
        transition: 0.7s;
        object-fit: cover;
        width: 100%;
        display: block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &:hover .card-img-top{
       transform: scale(1.1);
    }
    &:hover .card-img-post{
        transform: scale(1.1);
    }
    @media only screen and (max-width: 768px){
        .card-img-top{
            height: 250px;
        }
    }
    @media only screen and (max-width: 600px){
        .card-img-top{
            height: 220px;
        }
    }

}
.slick-prev, .slick-next{
}
.slick-prev:before, .slick-next:before{
    color: #2c3e50 !important;
    font-size: 25px !important;
}
