.card {
    border: none;
    box-shadow: 0px 5px 20px 0px #ecf0f1 !important;
}

.fa-star {
    color: #f1c40f;
}

.text__title {
    text-transform: inherit;
    font-weight: bold;
}

.padding-article {
    padding: 12px;
}

.box__article {
    cursor: pointer;
    .card-image {
        overflow: hidden;
    }
    .card-featured {
        &:before {
            content: url(/icons/noi-bat.svg);
            position: absolute;
            height: 25px;
            left: 0;
            top: 10px;
            width: 65px;
            z-index: 1;
        }
    }
    .card-post {
        border-radius: 20px;
        overflow: hidden;
    }
    .card__article__body {
        color: #2c3e50 !important;
        h5 {
            font-size: 16px;
        }
        .card__time {
            font-size: 13px;
            color: #7f8c8d !important;
        }
        .card__title {
            margin-bottom: 0.5rem;
            font-size: 16px !important;
            &:hover {
                color: #2980b9;
            }
        }
        .card__address {
            font-size: 15px !important;
        }
    }
    .card__heart {
        font-size: 30px;
    }
    .card__heart.active {
        color: #e74c3c;
    }
    .card-view {
        font-size: 14px;
        color: #2980b9 !important;
    }
    .view-more {
        font-size: 15px;
    }
    .card-img-top {
        position: relative;
        height: 200px;
        object-fit: cover;
        transition: 0.7s;
        width: 100%;
        display: block;
    }
    .card-img-post {
        height: 270px;
        transition: 0.7s;
        object-fit: cover;
        width: 100%;
        display: block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &:hover .card-img-top {
        transform: scale(1.1);
    }
    &:hover .card-img-post {
        transform: scale(1.1);
    }
    @media only screen and (max-width: 768px) {
        .card-img-top {
            height: 250px;
        }
    }
    @media only screen and (max-width: 600px) {
        .card-img-top {
            height: 220px;
        }
    }
}

.slick-prev:before,
.slick-next:before {
    color: #2c3e50 !important;
    font-size: 25px !important;
}

.box-article {
    .box-article__left {
        .box-article-content {
            padding: 10px 0;
            .card__time {
                color: black;
                font-size: 14px;
            }
            .card__view {
                color: #2980b9;
                font-size: 14px;
            }
            .img {
                overflow: hidden;
            }
            .box-article__content {
                &:hover .box-article-content-img {
                    transform: scale(1.1);
                }
            }
            .box-article-content-img {
                min-height: 330px;
                transition: 0.5s;
                object-fit: cover;
                display: block;
            }
            .box-article-content-title {
                padding: 13px 0;
                color: black;
                font-size: 20px;
                margin: 0;
            }
            .list__article {
                .article {
                    .article__title {
                        color: black !important;
                        &:hover {
                            color: #2980b9 !important;
                        }
                    }
                }
                .article:not(:last-child) {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ecf0f1;
                }
                .article:not(:first-child) {
                    padding-top: 10px;
                }
            }
            .box-article-content-desc {
                color: #7f8c8d;
                text-align: justify;
                font-size: 14px;
            }
        }
    }
    .box-article__right {
        .banner-ads-top {
            max-height: 300px;
            object-fit: cover;
            display: block;
        }
    }
}