header {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 1001;
    background: $white;
    .box__auth {
        display: inherit;
    }
    .navbar {
        z-index: 1001;
        .logo {
            width: 80px;
            img {
                width: 100%;
            }
        }
        &-collapse {
            .nav-item {
                &:not(:last-child) {
                    margin-right: 40px;
                }
                .nav-link {
                    color: $black;
                    font-size: 1rem;
                    &:hover {
                        color: $primary;
                    }
                    &.active {
                        font-weight: 700;
                        color: $primary;
                    }
                }
            }
        }
        .navbar-toggler {
            color: $primary;
        }
    }
}


/* Extra small devices (phones, 992px and down) */

@media only screen and (max-width: 992px) {
    .navbar {
        ul {
            li {
                padding-top: 20px;
            }
        }
    }
    .box__auth {
        //margin-left: 20px;
    }
    .account__manage {
        padding-left: 0;
        margin-bottom: 15px;
    }
}
