.btn {
    border-radius: 30px !important;
}
input.form-control,
select {
    padding: 0.8rem 0.85rem !important;
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
}
.box__login__helper {
    justify-content: space-between;
}

.btn__border {
    border: 1px solid #bdc3c7 !important;
}

.text-split-2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.text-split-3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp:3;
}
.text-split-1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
.btn__see__more:hover{
    background-color: #3498db;
    box-shadow: 0 5px 10px 2px #3498db40 !important;
    color: #fff;
}
.btn__blue{
    background-color: #3498db;
    box-shadow: 0 5px 10px 2px #3498db40 !important;
}
