.modal-content{
    border-radius: 30px;
    .btn{
        border-radius: 25px;
    }
    .form-control{
        border-radius: 10px!important;
        position: relative!important;
        padding: 0.55rem 0.75rem!important;
    }
    .form-control::before{
        content: '\e9c2';
        top: 12px;
        position: absolute;
        z-index: 1;
        text-align: center;
        line-height: 24px;
        width: 24px;
        height: 24px;
    }
}
.modal-header{
    padding: 1rem 2rem 0 !important;
    border-bottom: none!important;
}
.modal-body{
    padding: 1rem 2rem 2rem!important;
}
.box__login__helper{
    justify-content: space-between;
}
