.btn {
    border-radius: 20px;
}

.btn__re__line:hover {
    color: #2980b9;
    border-color: #2980b9;
}

.btn__outline__blue {
    color: #2980b9!important;
    border-color: #2980b9;
    &:hover {
        background-color: #2980b9;
        box-shadow: 0 5px 10px 2px #3498db40 !important;
        color: #fff!important;
    }
}

.btn__auth {
    color: #3498db !important;
}

.input-group-step {
    .input-group-btn {
        button {
            background: $primary;
            color: $white;
            padding: 3px 6px;
            border-radius: 3px;
            border: none;
            &:disabled {
                background: #3498db99;
            }
        }
    }
    .input-step {
        border-radius: 5px;
        padding: 0 8px !important;
        margin: 0 10px !important;
        text-align: center;
    }
}

.btn-attention {
    float: right;
    line-height: 1;
    border-radius: 50%;
    border: 1px solid $danger;
    padding: 3px 7px;
    font-size: 0.8rem;
    cursor: pointer;
}
