.is-invalid {
    .form-control {
        border-color: $default-errors;
    }
    span {
        color: $default-errors;
    }
}

.form__post {
    padding: 20px;
    box-shadow: rgb(182 182 182 / 18%) 1px 1px 20px 3px;
}

.text-required {
    color: #f00;
}

.bootstrap-tagsinput {
    padding: 0.8rem 0.85rem !important;
    border-radius: 10px;
    .tag {
        background-color: $primary;
        margin-right: 2px;
        color: $white;
        font-size: 0.8rem;
        padding: 0 5px;
        border-radius: 3px;
    }
    span[data-role="remove"] {
        margin-left: 4px;
        padding-left: 4px;
        vertical-align: text-bottom;
        border-left: 1px solid $white;
        cursor: pointer;
        &::after {
            content: "x";
        }
    }
    input {
        border: none;
        &:focus-visible {
            outline: none;
        }
    }
}
