/**======================*
    Import vendors
*========================*/

@import './vendors/bootstrap';

/**======================*
    Import abstracts
*========================*/

@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';

/**======================*
    Import theme
*========================*/


/**======================*
    Import base
*========================*/

@import './base/font';
@import './base/reset';
@import './base/typography';

/**======================*
    Import layout
*========================*/

@import './layout/header';
@import './layout/article';
@import './layout/main';
@import './layout/grid';
@import './layout/footer';
@import './layout/modal';
@import './layout/breadcumbs';

/**======================*
    Import components
*========================*/

@import './components/button';
@import './components/forms';
@import './components/line';
@import './components/data-list';

/**======================*
    Import pages
*========================*/

@import './pages/post';

/* Extra small devices (phones, 992px and down) */

@media only screen and (max-width: 992px) {
    .navbar {
        ul {
            li {
                padding-top: 20px;
            }
        }
        .navbar-collapse {
            padding-bottom: 30px;
        }
        .box__auth {
            margin-left: 20px
        }
    }
}