.detail-post {
    .mySlides {
        position: relative;
        .caption {
            position: absolute;
            bottom: 0;
        }
    }
    .card {
        border: none;
        box-shadow: 0px 5px 20px 0px #ecf0f1 !important;
    }
    .fa-star {
        color: #f1c40f;
    }
    .text__title {
        text-transform: inherit;
        font-weight: bold;
    }
    .padding-article {
        padding: 12px;
    }
    .box__article {
        cursor: pointer;
        .card-image {
            overflow: hidden;
        }
        .card-featured {
            &:before {
                content: url(/icons/noi-bat.svg);
                position: absolute;
                height: 25px;
                left: 0;
                top: 10px;
                width: 65px;
                z-index: 1;
            }
        }
        .card-post {
            border-radius: 20px;
            overflow: hidden;
        }
        .card__article__body {
            color: #2c3e50 !important;
            h5 {
                font-size: 16px;
            }
            .card__time {
                font-size: 13px;
                color: #7f8c8d !important;
            }
            .card__title {
                margin-bottom: 0.5rem;
                font-size: 16px !important;
                &:hover {
                    color: #2980b9;
                }
            }
            .card__address {
                font-size: 15px !important;
            }
        }
        .card__heart {
            font-size: 30px;
        }
        .card__heart.active {
            color: #e74c3c;
        }
        .card-view {
            font-size: 14px;
            color: #2980b9 !important;
        }
        .view-more {
            font-size: 15px;
        }
        .card-img-top {
            position: relative;
            height: 200px;
            object-fit: cover;
            transition: 0.7s;
            width: 100%;
            display: block;
        }
        .card-img-post {
            height: 270px;
            transition: 0.7s;
            object-fit: cover;
            width: 100%;
            display: block;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        &:hover .card-img-top {
            transform: scale(1.1);
        }
        &:hover .card-img-post {
            transform: scale(1.1);
        }
    }
    .slick-prev:before,
    .slick-next:before {
        color: #2c3e50 !important;
        font-size: 25px !important;
    }
    .box-article {
        .box-article__left {
            .box-article-content {
                padding: 10px 0;
                .card__time {
                    color: black;
                    font-size: 14px;
                }
                .card__view {
                    color: #2980b9;
                    font-size: 14px;
                }
                .img {
                    overflow: hidden;
                }
                .box-article__content {
                    &:hover .box-article-content-img {
                        transform: scale(1.1);
                    }
                }
                .box-article-content-img {
                    min-height: 330px;
                    transition: 0.5s;
                    object-fit: cover;
                    display: block;
                }
                .box-article-content-title {
                    padding: 13px 0;
                    color: black;
                    font-size: 20px;
                    margin: 0;
                }
                .list__article {
                    .article {
                        .article__title {
                            color: black !important;
                            &:hover {
                                color: #2980b9 !important;
                            }
                        }
                    }
                    .article:not(:last-child) {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #ecf0f1;
                    }
                    .article:not(:first-child) {
                        padding-top: 10px;
                    }
                }
                .box-article-content-desc {
                    color: #7f8c8d;
                    text-align: justify;
                    font-size: 14px;
                }
            }
        }
        .box-article__right {
            .banner-ads-top {
                max-height: 300px;
                object-fit: cover;
                display: block;
            }
        }
    }
    * {
        box-sizing: border-box;
    }
    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }
    /* Hide the images by default */
    .mySlides {
        background-color: #7f8c8d;
        display: none;
        img {
            max-height: 500px;
            display: block;
            object-fit: contain;
        }
    }
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 5px 15px;
        margin-top: -30px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 25px;
        user-select: none;
        -webkit-user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 25px;
    }
    .prev {
        left: 25px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Six columns side by side */
    .slick-slide {
        &.slick-current {
            .column {
                .demo {
                    opacity: 1;
                }
            }
        }
        .column {
            float: left;
            width: 16.66%;
            padding: 4px 2px;
            /* Add a transparency effect for thumnbail images */
            .demo {
                opacity: 0.6;
                max-height: 100px;
                object-fit: cover;
                display: block;
                transition: all 0.2s ease;
            }
            .active,
            .demo:hover {
                opacity: 1;
            }
        }
    }
    /*================DETAIL===============*/
    .slick-prev {
        left: 5px !important;
    }
    .slick-next {
        right: 5px !important;
    }
    .b__dt-ct-title {
        font-size: 23px;
        font-weight: bold;
        td {
            padding: 0 !important;
        }
    }
    .b__dt-ct-short.table> :not(caption)>*>* {
        border: none!important;
        padding: 2px!important;
    }
    .b__dt-ct-short {
        padding: 10px 0 !important;
        border-bottom: 1px solid #ecf0f1!important;
        border-top: 1px solid #ecf0f1!important;
    }
    .box__dt-ct-desc-text p {
        margin-bottom: 0.4rem !important;
    }
    .b__dt-ct-section-body {
        padding: 7px 20px;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        box-sizing: border-box;
        .b__dt-ct-section-body-list {
            display: flex;
            padding: 14px 0px;
            .title {
                font-weight: bold;
                min-width: 115px;
            }
        }
        .b__dt-ct-section-body-list:not(:last-child) {
            border-bottom: 1px solid #f2f2f2;
        }
    }
    .b__ct {
        color: #2c3e50;
        padding: 20px 5px;
        border: 1px solid #ecf0f1;
        text-align: center;
        border-radius: 10px;
        .b__ct-info {
            padding-bottom: 20px;
            .b__ct-info-avt {
                width: 100px;
                border-radius: 50%;
                margin-bottom: auto;
            }
            .b__ct-info-name {
                font-size: 17px;
            }
        }
        .b__ct-contact {
            .b__ct-contact-btn {
                padding: 10px 15px;
                border-radius: 25px;
                border: 1px solid #ecf0f1;
                background: none;
                min-width: 150px;
                margin: 0;
                display: inline-block;
                margin-bottom: 10px;
                font-weight: 500;
            }
            .b__ct-contact-btn:nth-child(1) {
                background-color: #1abc9c;
                color: #fff;
            }
            .b__ct-contact-btn:nth-child(3) {
                color: #2c3e50;
            }
            .b__ct-contact-btn:hover {
                border-color: #1abc9c;
                box-shadow: 0 5px 10px 2px #1abc9c33 !important;
            }
        }
    }
    #contactModal {
        border-radius: 10px;
        .modal-body {
            padding: 30px 30px 50px;
        }
        .btn__send__contact {
            box-shadow: 0 5px 10px 2px #3498db59 !important;
            font-weight: bold;
        }
    }
    @media only screen and (max-width: 768px) {
        .mySlides {
            img {
                max-height: 350px;
            }
        }
        .column {
            .demo {
                max-height: 60px;
                min-height: 60px;
            }
        }
        .box__article {
            .card-img-top {
                height: 250px;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .mySlides {
            img {
                max-height: 250px;
            }
        }
        .column {
            .demo {
                min-height: 40px;
                max-height: 40px;
            }
        }
        .box__article {
            .card-img-top {
                height: 220px;
            }
        }
    }
}