.list-article {
    table {
        th,
        td {
            white-space: nowrap;
            vertical-align: middle;
        }
        #state {
            min-width: 100px;
        }
        .card.card-article {
            border: none;
            box-shadow: unset !important;
            background: transparent;
        }
        .card-article {
            .card-img {
                width: 100px;
                img {
                    object-fit: contain;
                    height: 100%;
                }
            }
            .card-body {
                padding-top: 0;
                padding-bottom: 0;
                max-width: 400px;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 2;
                /* number of lines to show */
                line-clamp: 2;
                -webkit-box-orient: vertical;
                clamp .card-title {
                    font-size: 1.25rem;
                    color: $black;
                }
            }
        }
    }
}