.btn__confirm {
    cursor: pointer;
}
.btn__border {
    border-radius: 25px;
}

.form-check .form-check-input{
    font-size: 1rem !important;
    float: inherit !important;
}

.img__table {
    height: 60px;
    width: 100%;
    display: block;
    object-fit: cover;
}
.max-w-100 {
    max-width: 100px!important;
}

.text-split-2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.p-input {
    padding: 0.5rem 0.75rem !important;
}
/*===========PHAN TRANG*/
.paginate-styling{
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.paginate-styling nav .flex{
    display: none!important;
}
.paginate-styling svg{
    width: 20px !important;
}


.btn__header__page{
    color: #fff;
    border: 1px solid;
    border-radius: 30px;
    margin: 0 5px;
}
