@font-face {
    font-family: 'rbt-b';
    src: url("/fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'rbt-l';
    src: url("/fonts/Roboto-Light.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'rbt-bl';
    src: url(/fonts/Roboto-Black.ttf);
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'rbt-m';
    src: url(/fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-display: block;
}