body {
    font-family: 'Nunito';
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

li:not(.ck-content li) {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    &:focus {
        box-shadow: unset;
    }
}
